---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
 <div id="reflist">

   {% for citation in site.data.bib %}

          <p class="bibItem">

            ({{ bib.publication-date }})
          <class="pubDate">{{ bib.issued[1] }}</class>
          {% if bib.type == "book" %}
          <em><a id="#{{ bib.id }}">{{ bib.title }}</a></em>
         {% else %}
         <a id="#{{ bib.id }}">{{ bib.title }}</a>
         {% endif %}
        <hr/>
         </p>

  {% endfor %}
{% comment %}
<ul>
  {% for bib in site.data.bib %}
    {% if bib.accessed | size == 1 %}
    <li>
      {{ bib.accessed.date-parts[0] | first }}
    </li>
    {% endif %}
  {% endfor %}
  </ul>
  {% endcomment %}
   </div>
 </div>

  </div>

</article>
